.button{margin-top:20px;
    margin-right: 110px;
    margin-left: 90px; 
    
    display: flex;
	
	justify-content: space-between;
	width: 50px;
}
.button2{
    
    display: block;
	position: relative;
	padding: 10px 0;
	width: 130px;
	margin: 30px 0;
	border-radius: 25px;
	border: none;
	font-size: 20px;
	letter-spacing: 0.2px;
	font-weight: 500;
	background-color: #393B45;
	color: #E6EBEE;
}
button:focus {
	display: none;
}

button:hover {
	transform: scale(1.03);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

